[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
boto3 = "*"
pandas = "*"
pyarrow = "*"
s3fs = "*"
tqdm = "*"
warc3-wet = "*"

[dev-packages]
pipfile-sort = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
